/**********Styles généraux de la page**********/
body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6,
.navbar-light .navbar-nav .nav-link{
	font-family: 'Pragati Narrow', sans-serif;
}
/**********Mise en forme du header**********/
.navbar-light .navbar-brand, 
.navbar-light .navbar-brand:focus, 
.navbar-light .navbar-brand:hover{
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	color: #FFF;
}
.navbar-light .navbar-nav .nav-link{
	font-size: 1.4em;
	font-weight: bolder;
	color: #FFF;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
	color: #202038F2;
}
/**********Fin mise en forme du header**********/